.aq-width{
    width:780px;
}
.question-title{
    margin-bottom:16px;
}
.question-icon{
    height:40px;
    width:40px;
    margin-right:32px;
}
.qestion-owner-name{
    margin-right:16px;
}
.info{
    margin-bottom: 18px;
}
.scan{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0,-50%);
}
.font16fbc02d{
    font-family: 'PingFangSC-Regular' , 'Microsoft YaHei';
    font-size: 16px;
    color:#fbc02d;
}