.personnal-center-main{
    margin-top: 110px;
  }
  .personal-center-left{
    width:210px;
  }
  .personal-center-left li{
    text-align: right;
    margin-bottom:64px;
  }
  .personal-center-left .router-link-active{
    color:#23B8FF;
  }
  .pcl-triangle{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 24px;
   vertical-align: middle;
   border-top: 6px solid transparent;
   border-left: 12px solid ;
   border-bottom: 6px solid transparent;
   border-left-color:#3A3C50;
  }
  .personal-center-left .router-link-active .pcl-triangle{
      border-left-color: #23B8FF;
  }
  .personal-center-right{
    margin-left:330px;
  }
.resume-model{
  padding-bottom:24px;
  margin-bottom:24px;
}