@charset "UTF-8";
html {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
}

#__bs_notify__ {
    display: none !important;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}
