Django==2.1
PyMySQL
passlib==1.7.1
mysqlclient
requests==2.19.1
django-colorfield==0.1.15
Django-Select2==6.1.2
django-suit==0.2.26
pycrypto==2.6.1
django-cors-headers==2.4.0
django-multiselectfield==0.1.8
django-breadcrumbs==1.1.3
redis==2.10.6
djangorestframework==3.8.2
markdown==2.6.11
django-filter==2.0.0
ujson==1.35
pillow==5.2.0