Django==1.11.14
MySQL-python
requests
django-colorfield
Django-Select2==6.1.0
django-suit
pycrypto
django-cors-headers
django-multiselectfield
django-breadcrumbs
redis
djangorestframework
markdown
django-filter
ujson