@import './baseConstScss';
@import './initScss';
@import './baseMixin';
// 版心宽度

.mw {
  width: $mainWidth
}

.vm {
  vertical-align: middle;
  vertical-align: middle;
}

.r {
  position: relative;
}

.a {
  position: absolute;
}

.rose {
  box-shadow: 0 0 18px rgba(0, 0, 0, .15);
}

.rise {
  transition: box-shadow 0.3s ease;
}

.rise:hover {
  box-shadow: 0 0 10px 5px rgba(99, 117, 138, 0.30);
}

.visibility_h {
  visibility: hidden;
}

.vb {
  vertical-align: baseline;
}

.vbt {
  vertical-align: bottom;
}
.vs{
  vertical-align: sub;
}
.bdr{
  border-radius: 10px;
}
// horizontal下的块级元素居中
.hc {
  margin: auto;
}

// 上下左右均居中 center_center
.cc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.ftc {
  text-align: center;
}

.ftl {
  text-align: left;
}

.ftr {
  text-align: right;
}

.ftj {
  text-align: justify;
  text-align-last:justify;
}

// 这是因为ftj在文本只有一行的时候不生效，从而加的一个hack
.line2 {
  width: 100%;
  height: 0;
  display: inline-block;
  line-height: 0px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.cp {
  cursor: pointer;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.weight {
  font-weight: bold;
}


