body {
  width: 100%;
  min-width: 1152px;
  background: #fafafa;
}

.mainwidth {
  width: 1152px;
}
.resumewidth{
  width: 728px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.incenter {
  margin-left: auto;
  margin-right: auto;
}
.imgmiddle{
vertical-align: middle;
}
.middle{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}
.vmiddle{
  position: absolute;
  top:50%;
  transform: translate(0,-50%)
}
.block {
  display: block;
}

.inlineblock {
  display: inline-block;
}
a{
  color:inherit
}
a:hover{
  text-decoration-line: none;
  color:#23B8FF;
}
.flexcenter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexvcenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexstartcenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.inmiddle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
}

.inxmiddle {
  position: absolute;
  right: 0px;
  left: 0px;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.textellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.round{
  border-radius: 50%;
}
.ofhid {
  overflow: hidden;
}

.fontcenter {
  text-align: center;
}

.fontjustify {
  text-align: justify;
}

.flexjustify {
  display: flex;
  justify-content: space-between;
}

.font14pr002800 {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #002800;
}

.font14prb2bbbf {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #B2BBBF;
}
.font16prb2bbbf {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #B2BBBF;
}

.font14pl2C343B {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #2C343B;
}

.font18pl2C343B {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 18px;
  color: #2C343B;
}

.font24pr2C343B {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 24px;
  color: #2C343B;
}

.font14pr2C343B {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #2C343B;
}

.font14pr424242 {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #424242;
}

.font14pl7c7e8c {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #7c7e8c;
}

.font14pl3a3c50 {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #3A3C50;
}

.font16pl3a3c50 {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #3A3C50;
}

.font18pl3a3c50 {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 18px;
  color: #3A3C50;
}

.font20pl3a3c50 {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 20px;
  color: #3A3C50;
}

.font20pm3a3c50 {
  font-family: "PingFangSC-Medium"  ,"Microsoft YaHei" ;
  font-size: 20px;
  color: #3A3C50;
}

.font14pr3a3c50 {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #3A3C50;
}

.font16pr3a3c50 {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #3A3C50;
}

.font20pr3a3c50 {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 20px;
  color: #3A3C50;
}
.font14prffffff {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #ffffff;
}
.font16prffffff {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #ffffff;
}

.font14pl5A646E {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #5A646E;
  letter-spacing: 0.4px;
}
.font16pl5A646E {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #5A646E;
}
.font14pr5a646e {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #5A646E;
}
.font18pr5a646e{
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 18px;
  color: #5A646E;
}
.font20pr5a646e {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 20px;
  color: #5A646E;
}
.font16pl23b8ff {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #23B8FF;
}
.font14pr23b8ff {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #23B8FF;
}
.font16pr23b8ff {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #23B8FF;
}
.font20pr23b8ff {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 20px;
  color: #23B8FF;
}
.font24pr23b8ff {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 24px;
  color: #23B8FF;
}

.font16pr07111B {
  font-family: "PingFangSC-Regular"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #07111B;
}

.font16pmCCCCCC {
  font-family: "PingFangSC-Medium"  ,"Microsoft YaHei" ;
  font-size: 16px;
  color: #CCCCCC;
}

.font12plffffff {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 12px;
  color: #FFFFFF;
}

.font14plffffff {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #FFFFFF;
}

.font18plffffff {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 18px;
  color: #FFFFFF;
}

.font20plffffff {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 20px;
  color: #FFFFFF;
}

.font36plffffff {
  font-family: "PingFangSC-Light"  ,"Microsoft YaHei" ;
  font-size: 36px;
  color: #FFFFFF;
}

.font14pm2a0000 {
  font-family: "PingFangSC-Medium"  ,"Microsoft YaHei" ;
  font-size: 14px;
  color: #66BB6A;
}

.font20pm2a0000 {
  font-family: "PingFangSC-Medium"  ,"Microsoft YaHei" ;
  font-size: 20px;
  color: #66BB6A;
}

.relative {
  position: relative;
}

.blue {
  color: #23B8FF;
}

.zindex1 {
  z-index: 1;
}

.zindex10 {
  z-index: 10;
}

.zindex100 {
  z-index: 100;
}

.marginbottom8 {
  margin-bottom: 8px;
}

.marginbottom16 {
  margin-bottom: 16px;
}

.marginbottom24 {
  margin-bottom: 24px;
}

.marginbottom32 {
  margin-bottom: 32px;
}

.letterspace1 {
  letter-spacing: 1px;
}

.rise {
  transition: box-shadow 0.3s ease
}
.rised{
  box-shadow: 0 0 10px 5px rgba(99, 117, 138, 0.10);
}
.rise:hover {
  box-shadow: 0 0 10px 5px rgba(99, 117, 138, 0.10);
}
