.el-dialog__header {
  display:none;
}
.el-dialog__wrapper {
  background-color: #f8fafc;
}
.el-dialog__wrapper .el-dialog{
  border-radius: 10px;
  box-shaw: 0 0 18px rgba(0,0,0,0.15)
}
.el-dialog .el-dialog__body {
  padding: 0 0;
}
