/* 此处是carousel的指示器样式修改 */
.carousel .el-carousel__button {
    display: block;
    opacity: .48;
    width: 12px;
    height: 12px;
    border-radius:6px;
    background-color: #2C343B;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s
}
.carousel .el-carousel__indicator.is-active button {
    opacity: 1;
}
.carousel .el-carousel__indicator {
    display: inline-block;
    background-color: transparent;
    padding: 12px 12px;
    cursor: pointer
}

/* 此处是面试题部分旋转木马样式 */

.el-carousel__item--card {
    width: 50%;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}
/* 折叠面板样式修改 */
.el-collapse, .el-collapse-item__header, .el-collapse-item__wrap {
    border:none;
}
/* 弹出框底色 */

  .el-input__inner{
    border-radius:0px;
  }
  /* element-ui 的el-scrollbar样式修改 */
  .interviewmain-content .el-scrollbar__bar.is-horizontal {
    height: 6px;
    left: inherit;
    width: 1152px;
    left: 50%;
    margin-left: -576px;
    right: inherit; 
}  
  .el-scrollbar__bar {
    bottom: 1px;
}  
.el-scrollbar__thumb{
    background: #D5DADC;
}
.el-scrollbar__thumb:hover{
    background: #D5DADC;
}
.interviewmain-content .el-scrollbar__view{
    height:500px;
}
/* element-ui */