<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    #left,
#right {
float: left;
width: 220px;
height: 200px;
background: blue;
}
		
#right{
float: right;
}
		
#main {
margin: 0 230px;
background: red;
height: 200px;
}

</style>
<body>
        
        <div id="left">left </div>
        <div id="right">right</div>
        <div id="main">mian</div>
        
     
</body>
</html>