<script src="//player.polyv.net/script/polyvplayer.min.js"></script>
<div id="plv_02bfeb00e2ba940698c54cdf517aa9b6_0"></div>
<script>
var player = polyvObject('#plv_02bfeb00e2ba940698c54cdf517aa9b6_0').videoPlayer({
    'width':'600',
  'height':'338',
    'vid' : '02bfeb00e2ba940698c54cdf517aa9b6_0'
});
</script>
  
<span id="stayInVideoTime">当前观看时间（包含视频缓冲时间）是 0 秒</span><br>
<span id="realPlayVideoTime">当前观看时间（不包含视频缓冲时间）是 0 秒</span><br>
<span id="getCurrentTime">当前播放进度是 0 秒</span><br />
<span id="flow">当前流量: 0 字节 | 0 KB</span><br />
<span id="duration">当前视频的时长是 0 秒</span><br />
  
<input type="button" onclick="resume()" value="播放"></input>
<input type="button" onclick="pause()" value="暂停"></input>
<input type="button" onclick="seek(30)" value="seek到第30秒"></input>
<input type="button" onclick="stop()" value="停止"></input>
<input type="button" onclick="nextVideo()" value="切换到下一个视频"></input><br />
  
<script type="text/javascript">
function getPlayer(movieName) {
 if (navigator.appName.indexOf("Microsoft") != -1) {
  var reObj=window[movieName];
  try
  {
   if(reObj.length>0)
   {
    return reObj[0];
   }
            else
            {
              return reObj;
            }
  }catch(e)
  {
     
  }
  return ;
 }
 else {
  return document[movieName];
 }
}
  
function resume()
{
  player.j2s_resumeVideo();
}
  
function pause()
{
  player.j2s_pauseVideo();
}
  
function seek(_sec)
{
  player.j2s_seekVideo(_sec);
}
  
function stop()
{
  player.j2s_stopVideo();
}
  
function nextVideo()
{
  player.changeVid("02bfeb00e27ff92a76364b16af2f115e_0");
}
  
function render()
{
if(player != undefined && player.j2s_stayInVideoTime != undefined && player.j2s_realPlayVideoTime != undefined && player.j2s_getCurrentTime != undefined && player.j2s_getDuration != undefined && player.j2s_getFlowCount != undefined){
  var sec1=player.j2s_stayInVideoTime();
  var sec2=player.j2s_getCurrentTime();
  var sec3=player.j2s_getDuration();
  var sec4=player.j2s_realPlayVideoTime();
  var byte=player.j2s_getFlowCount();
  document.getElementById("stayInVideoTime").innerHTML="当前观看时间（包含视频缓冲时间）是 <span style='color:#ff0000;'>"+sec1+"</span> 秒";
  document.getElementById("realPlayVideoTime").innerHTML="当前观看时间（不包含视频缓冲时间）是 <span style='color:#ff0000;'>"+sec4+"</span> 秒";
  document.getElementById("getCurrentTime").innerHTML="当前播放进度是 <span style='color:#ff0000;'>"+sec2+"</span> 秒";
  document.getElementById("duration").innerHTML="当前视频的时长是 <span style='color:#ff0000;'>"+sec3+"</span> 秒";
  document.getElementById("flow").innerHTML="当前流量: <span style='color:#ff0000;'>"+byte+"</span> 字节 | <span style='color:#ff0000;'>"+byte/1024+"</span> KB";
}
}
var interval=setInterval("render()",500);
</script>